body {
  margin: 0;
  font-family: 'Segoe UI', 'Roboto', 'Oxygen', sans-serif;
  background: linear-gradient(to right, rgb(83, 24, 191), rgb(234, 20, 2));
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
